<!-- Footer -->
<!-- add fixed-bottom to make the footer sticky-->
<footer class="page-footer font-small green">
  <div class="foot-cont py-2">
    <div class="copyright">© 2020 Natuser</div>
    <div class="icon-container">
      <a class="icon">
        <i class="fab fa-facebook-square fa-2x"></i>
      </a>
      <!--Instagram-->
      <a class="icon">
        <i class="fab fa-instagram fa-2x"></i>
      </a>
    </div>
  </div>

  <!-- Copyright -->
  <!-- <div class="footer-copyright text-center py-3">© 2020 Natuser</div> -->
  <!-- Copyright -->
</footer>
<!-- Footer -->
