/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.clickable {
  cursor: pointer;
}

// $primary-color: #008f40;
// $secondary-color: #7ace67;
// $tertiary-color: #c2dd6a;
$primary-color: #4caf50;
// $secondary-color: #90b554; // Natuser's green
$secondary-color: #58ce5c; //Shade of MDB's green
$tertiary-color: #f18261; // Natuser's orange
$background-color: #fff8ed;
