<!--Navbar-->
<mdb-navbar
  SideClass="navbar navbar-expand-lg navbar-dark green"
  [containerInside]="false"
>
  <!-- Navbar brand -->
  <mdb-navbar-brand
    ><a class="navbar-brand" href="#">Natuser</a></mdb-navbar-brand
  >

  <!-- Collapsible content -->
  <links>
    <!-- Links -->
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a
          class="nav-link waves-light"
          [routerLink]="['/products']"
          mdbWavesEffect
        >
          Productos
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link waves-light" mdbWavesEffect [routerLink]="['/home']">
          <mdb-icon far icon="building"></mdb-icon>
          Sobre Nosotros
        </a>
      </li>
    </ul>
    <!-- Links -->
  </links>
  <!-- Collapsible content -->
</mdb-navbar>
<!--/.Navbar-->
