.contain {
  display: flex;
  flex-direction: column;
  padding-top: 2rem;
  background-color: #cdcdcd;
}

.display-item {
  display: flex;
  margin-left: 2rem;
}

.display-item:nth-of-type(2n) {
  display: flex;
  flex-direction: row-reverse;
  margin-right: 2rem;
}
