@import 'src/styles.scss';

.contain {
  display: flex;
  flex-direction: column;
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: $background-color;
}

.display-item {
  display: flex;
  margin-left: 2rem;
}

.display-item:nth-of-type(2n) {
  display: flex;
  flex-direction: row-reverse;
  margin-right: 2rem;
}
